{% extends "layout.html" %}

{% block content %}
<div class="container">

    <h2>Creators</h2>

    <div>
        <div class="speakerphoto">
            <img src="static/images/Dr.T.jpg" alt="Cain Brady">
            <div class="speakersocial">
              <div>
               <h3>Dr. Natalie Toporikova</h3>
              </div>
            <div class="website">
                <a href="https://my.wlu.edu/directory/profile?ID=x7821" target="_blank">Profile</a>
            </div>
            <div>
                <p>About</p>
            </div>
            </div>
          </div> 
    </div>

    <div>
        <div class="speakerphoto">
            <img src="static/images/sam.jpeg" alt="sambluestone">
            <div class="speakersocial">
              <div class="twitter">
               <h3>Sam Bluestone</h3>
              </div>
            <div class="website">
                <a href="https://www.linkedin.com/in/sambluestone/" target="_blank">LinkedIn</a>
            </div>
            <div>
                <p>About</p>
            </div>
            </div>
          </div> 
    </div>

    <div>
        <div class="speakerphoto">
            <img src="static/images/jeff.jpeg" alt="Cain Brady">
            <div class="speakersocial">
              <div class="twitter">
               <h3>Jeffrey Bradley</h3>
              </div>
            <div class="website">
                <a href="https://www.linkedin.com/in/jeffreybradley772/" target="_blank">LinkedIn</a>
            </div>
            <div class="website">
                <a href="https://github.com/JeffreyBradley772" target="_blank">GitHub</a>
            </div>
            <div>
                <p>About</p>
            </div>
            </div>
          </div> 
    </div>
</div>

<div class="container">
    <h1>Project Description</h1>
    <p>Words</p>
</div>

{% endblock %}