{% extends "layout.html" %}

{% block content %}
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to our Website for Ovarian Structure Image Classification.</h1>
            <h3>Let's get started.</h3>
            <p><a href="{{ url_for('import1') }}">Classify</a></p>
        </div>
    </div>
    <div>
        <div class="container">
            <section id="classification" class="image-type">
              <header>
                <h2>Graafian Follicle (GF)</h2>
                <figure class="teaser">
                  <img class="teaser-image" src="static/images/GFphoto.jpg" alt="GF" width="150" height="150">
                </figure>
                  <p1>Description?<span class="pizazz"></span></p1>
              </header>
            </section>
            <section id="classification" class="image-type">
                <header>
                  <h2>Corpora Lutea (CL)</h2>
                  <figure class="teaser">
                    <img class="teaser-image" src="static/images/CLphoto.jpg" alt="CL" width="150" height="150">
                  </figure>
                    <p1>Description?<span class="pizazz"></span></p1>
                </header>
              </section>
              <section id="classification" class="image-type">
                <header>
                  <h2>Follicle</h2>
                  <figure class="teaser">
                    <img class="teaser-image" src="static/images/Folliclephoto.jpg" alt="Follicle" width="150" height="150">
                  </figure>
                    <p1>Description?<span class="pizazz"></span></p1>
                </header>
              </section>

              <section id="classification" class="image-type">
                <header>
                  <h2>Cyst</h2>
                  <figure class="teaser">
                    <img class="teaser-image" src="static/images/Cystphoto.jpg" alt="Cyst" width="150" height="150">
                  </figure>
                    <p1>Description?<span class="pizazz"></span></p1>
                </header>
              </section>
        </div>
    </div>
</div>

{% endblock %}
